body {
  background: #121212;
  color: white;
  font-family: 'Raleway', sans-serif;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.font-big {
  font-size: 2rem;
}